/* Fonts: 
font-family: 'Ibarra Real Nova', serif;
font-family: 'Public Sans', sans-serif; 
*/

/* Box sizing rules */
*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    box-sizing: border-box;
    font-size: 1rem;
}



/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


a, button{
    text-decoration: none;
    font-family: 'Public Sans', sans-serif; 
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.875rem;
    text-align: center;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

nav{
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo img{
    width: 3.75rem;
    height: 2rem;
    cursor: pointer;
}

nav button{
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger img{
    width: 1.5rem;
    height: 0.8125rem;
}

header{
    margin: 2rem;
}

section{
   margin: 2rem;
}

.hero-img{
    margin-top: 0.5rem;
}

.hero-img img{
    width: 100%;
}

.hero-text{
    max-width: 32rem;
    height: 10.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.hero-text h1{
    min-width: 19rem;
    max-width: 28rem;
}

h1{
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.625rem;
    letter-spacing: -0.4px;
    color: #33323D;
    margin-bottom: 1.5rem;
}

h2{
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.625rem;
    letter-spacing: -0.36px;  
    margin-top: 1.5rem;
}

h3{
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.29px;  
}

p{
    font-family: 'Public Sans', sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.875rem;
    color: #33323D;
    opacity: 0.8;
    margin-top: 1.5rem;
}

p .body2{
    font-size: 0.9375rem;
}

button.primary{
    border: none;
    background-color: transparent;
    font-family: inherit;
    padding: 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    background: #203A4C;
    /* padding:  */
    width: 200px;
    height: 48px;
    overflow: hidden;
}

.primary p{
    width: 152px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Public Sans', sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    line-height: 0.875rem;
}

.down-arrows{
    flex-direction: column;
    padding: 1.125rem;
    background-color: rgba(0,0,0,0.1);
    justify-self: center;
}

.down-arrows img{
   object-fit: fill;
   color: #5FB4A2;
}

button.primary:hover{
    background: rgba(95,180,162);
    color: #203A4c;
}

button.secondary{
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    border: 1px solid #33323D;
    width: 202px;
    height: 48px;
    background: none;
    font-family: 'Public Sans', sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.875rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
    cursor: pointer;
}

button.secondary:hover{
    background: rgba(51,50,61);
    color: #FAFAFA;
}

.about{
    margin-top: 96px;
}

.about-img{
    /* margin-top: 100px; */
    height: 21.625rem;
    background-image: url("./src/images/homepage/mobile/image-homepage-profile.jpg");
    background-repeat: no-repeat;
}

.text{
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    border-top: 1.4px solid #EAEAEB;
    border-bottom: 1.4px solid #EAEAEB;
}

.text h1{
    margin-top: 2.5rem;
}



.contact-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-text h1{
    text-align: center;
    margin-top: 5.625rem;
}

.contact-text button{
    margin-top: 40px;
    width: 162px;
}

footer{
    display: flex;
    flex-direction: row;
    height: 354px;
    margin-top: 80px;
    background: #33323D;
    justify-content: center;
    align-items: center;
}

.footer-container{
    display: inline-block;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 56px;
}

footer ul{
    margin: 0;
}

.footer-links li{
    margin-bottom: 32px;
}

.footer-links a{
    color: #FAFAFA;
}

footer li{
    list-style: none;
    cursor: pointer;
}

.footer-logo{
    margin-bottom: 1.875rem;
}

footer .socials{
    margin-top: 40px;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.socials li{
    width: 1.5625rem;
    height: 1.5rem;
    margin-right: 0.9375rem;
}

.socials img{
    object-fit: fill;
}

footer img{
    object-fit: fill;
    filter: invert(99%) sepia(99%) saturate(1%) hue-rotate(200deg) brightness(108%) contrast(96%);
}

/* Portfolio Page */

.portfolio-img{
    margin-top: 0.5rem;
    width: 19.4375rem;
    height: 18rem;
}

.portfolio button{
    width: 10.9375rem;
}

/* Project Pages*/
.project-img{
    margin-top: 0.5rem;
    width: 19.4375rem;
    height: 8.75rem;
}

.subheading{
    color: #5FB4A2;
    font-size: 0.8125rem;
    line-height: 1.875rem;
    font-weight: 700;
    margin-top: 1.5rem;
}

.project button{
    width: 10.9375rem;
}

.project-text{
    margin-top: 3rem;
    border: none;
}

.static-previews{
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.static-img{
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.project-btns{
    padding: 1.25rem;
    display: flex;
    flex-direction: row;
    border-top: 1.4px solid #EAEAEB;
    border-bottom: 1.4px solid #EAEAEB;
    height: 9.25rem;
}

.left{
 flex: 1;
 border-right: 1.4px solid #EAEAEB;
}

.right{
 flex: 1;
 text-align: right;
}

.project-btns h3{
    margin-top: 10px;
}

.project-btns p{
    margin-top: 0;
}

@media screen and (min-width: 768px){
    
    /* navbar */

    /* header section*/
 

    /* About section */

    .about{
        display: flex;
    }

    .about-img{
        flex: 1;
        height: 600px;
        background-image: url("./src/images/homepage/tablet/image-homepage-profile.jpg");
        background-repeat: no-repeat;
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .about .text{
        flex: 1;
        height: 600px;
    }


}
