/* Fonts: 
font-family: 'Ibarra Real Nova', serif;
font-family: 'Public Sans', sans-serif; 
*/

/* Box sizing rules */
*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    box-sizing: border-box;
    font-size: 16px;
}



/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 20px;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

nav{
    margin: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 311px;
}
.logo img{
    width: 60.08px;
    height: 32px;
    cursor: pointer;
}

nav button{
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger img{
    width: 24px;
    height: 13px;
}

header{
    margin-left: 32px;
    margin-right: 32px;
}

section{
    margin-left: 32px;
    margin-right: 32px;
}

.hero-img{
    margin-top: 40px;
    width: 311px;
    height: 271px;
}

.hero-text{
    width: 311px;
    height: 168px;
    margin-top: 24px;
}

h1{
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.36px;
    color: #33323D;
}

.hero-btn{
    margin-top: 32px;
    background: #203A4C;
    width: 200px;
    height: 48px;
}


.hero-btn a{
    text-decoration: none;
    
}

.hero-btn p{
    color: #FFFFFF;
    text-align: center;
    font-family: 'Public Sans', sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.down-arrows{
    width: 48px;
    height: 48px;
    padding: 18px;
}

.down-arrows img{
   width: 100%;
    
}

.about img{
    margin-top: 96px;
    width: 311px;
    height: 346px;
}

.about-text{
    margin-top: 32px;
    border-top: 1px solid #33323D;
    border-bottom: 1px solid #33323D;
}

.about-text h1{
    margin-top: 32px;
}

.about-text p{
    margin-top: 28px;
    font-family: 'Public Sans';
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
/* or 188% */


    color: #33323D;

    mix-blend-mode: normal;
    opacity: 0.8;
}

.btn{
    margin-top: 24px;
    margin-bottom: 51px;
    border: 1px solid #33323D;
    width: 202px;
    height: 48px;
    background: none;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #33323D;
    cursor: pointer;
}

.contact-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-text h1{
    text-align: center;
    margin-top: 115px;
}

.contact-text button{
    margin-top: 40px;
}

footer{
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 80px;
    background: #33323D;
    color: #FFFFFF;
    font-family: 'Public Sans', sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

footer img{
    color: #FFFFFF;
}
